@{ ViewData["Title"] = "Sobre"; }
<h1>@ViewData["Title"]</h1>

<p>Licenciatura e Engenharia Informática, Tecnologias da Internet II, 2020/2021</p></br>
<p>nº20628 António Rodrigues</p></br>
<p>nº20782 Tomás Barros</p></br>
@*Gestor: a@aa.com Password: Bigboss1.*@